.containerNavBar {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 0.2fr;
  height: 80px;
  justify-content: center;
}

.containerFirst {
  align-items: center;
  background-color: #49b199;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  font-weight: 600;
  justify-content: center;
  text-transform: uppercase;
}

.containerOrders {
  align-items: center;
  background-color: #036b52;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  font-weight: 600;
  justify-content: start;
  padding-left: 30px;
  text-transform: uppercase;
}

.containerName {
  align-items: center;
  background-color: #1962ff;
  color: white;
  display: flex;
  justify-content: center;
}

.containerLogout {
  align-items: center;
  background-color: #002f96;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  font-weight: 600;
  justify-content: start;
  padding-left: 30px;
}

.containerLogout:hover{
   background-color: #5a8eff;
}
