.containerProductList {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 400px 400px 400px 400px;
  justify-content: center;
  justify-items: center;
  margin-top: 50px;
}

.containerProductCard {
  align-items: center;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 1px gray;
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: center;
  padding: 20px;
  width: 70%;
}

.containerInterno {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}

.inputProductCard {
  appearance: textfield;
  background-color: #e4edff;
  border: 0;
  border-radius: 5px;
  color: black;
  font-size: 16px;
  font-weight: 400;
  margin: 5px 0 15px;
  outline: 0;
  padding: 15px;
  text-align: center;
  width: 22%;
}

.buttonProductCard {
  background: #1962ff;
  border: 0;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  margin: 5px 0 15px;
  padding: 15px;
  text-transform: uppercase;
  width: 15%;
}

.buttonProductCard:hover {
  background: #5a8eff;
}

.textPrice {
  background-color: black;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  opacity: 0.5;
  padding: 3px;
  text-align: center;
  width: 4vw;
}

.imgProduct {
  height: 150px;
  width: 150px;
}

.nameProduct {
  font-size: 17px;
  font-weight: 500;
}

.containerInput {
  align-items: center;
  display: flex;
  justify-content: center;
}

.containerTotal {
  align-items: center;
  background-color: #036b52;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  font-weight: 600;
  height: 60px;
  justify-content: center;
  text-transform: uppercase;
  width: 300px;
}

.buttonTotal {
  height: 100px;
  left: 1550px;
  position: fixed;
  top: 850px;
  width: 100px;
  z-index: 1000;
}

.containerTotal:hover {
  background-color: #49b199
}
